<!DOCTYPE html>

<link rel='stylesheet' href='application.css'/>

<html>
  <head>
    <title>SpotifyFaves</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <ul class='nav-bar'>
  <% if current_user %>
    Hello, <%= current_user.uid %>
    <li>
      <%= link_to "Logout", logout_path, method: :delete %>
    </li>
  <% else %>
    <li>
    <%= link_to "Login with Spotify", '/auth/spotify' %>
    </li>
  <% end %>
  </ul>
</div>





  <body>
    <%= yield %>
  </body>
</html>
